.page {
	min-width: 320px;
	max-width: 1280px;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	margin: 0 auto;
	padding: 45px 200px 60px;
	background-color: #000;
	color: #FFF;
	font-family: "Inter", Arial, Helvetica, sans-serif;
	z-index: 0;
}

@media screen and (max-width: 1140px ) {
	.page {
		padding: 45px 100px 60px;
	}
}

@media screen and (max-width: 840px ) {
	.page {
		padding: 45px 50px 60px;
	}
}

@media screen and (max-width: 680px ) {
	.page {
		padding: 45px 25px 60px;
	}
}

@media screen and (max-width: 580px) {
	.page {
		padding: 28px 0px 36px;
	}
}