.profile__title-wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
}


@media screen and (max-width: 580px) {
	.profile__title-wrapper {
		margin: 22px 0 0 34px;
	}
}