.profile {
	display: grid;
	/*grid-template-columns: max-content minmax(min-content, 1fr) max-content;*/
	grid-template-areas:
			'avatar title edit-button . add-button'
			'avatar subtitle . . add-button';
	margin-bottom: 47px;
}

@media screen and (max-width: 580px) {
	.profile {
		grid-template-areas:
			'avatar avatar' 'title edit-button'
			'subtitle subtitle' 'add-button add-button';
		margin-bottom: 36px;
	}
}