.header__logo {
	width: 142px;
	height: 33px;
	object-fit: fill;
	margin: 0;
	transition: opacity .3s linear;
}

.header__logo:hover {
	opacity: .8;
}

@media screen and (max-width: 580px) {
	.header__logo {
		width: 104px;
		height: 24px;
	}
}