.popup__grid {
  display: grid;
  grid-template-columns: 48px min-content 48px;
  grid-template-areas: '. . close-button' '. form .';
  justify-content: center;
}

@media screen and (max-width: 590px) {
  .popup__grid {
    grid-template-columns: min-content min(430px, 100%) min-content;
    grid-template-areas: '. close-button .' '. form .';
    row-gap: 16px;
    width: max(280px, calc(100% - 5.94vw * 2));
  }
}
